<!DOCTYPE html>
<html >
<head>
	<title>Movies</title>
	<meta charset="UTF-8">	
	<link rel="stylesheet" href="../static/styles/reset.css">
	<link rel="stylesheet" href="../static/styles/styles.css">
	
	<!--Import Google Icon Font-->
	 <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
<body>
	<div class="center-align">
		<a id="staff" class="center-align waves-effect waves-light btn-large " href="/staff/">Staff</a>
		<a id="customer" class="waves-effect waves-light btn-large " href="./customer/">Customer</a>
	</div>
</body>
</html>
