<!DOCTYPE html>
<html>
<head>
	<title>Movies - Customer</title>
	<link rel="stylesheet" href="../../../static/styles/reset.css">
	<link rel="stylesheet" href="../../../static/styles/customer/styles.css">

	<!--Import Google Icon Font-->
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	<div class="navbar-fixed">
		<nav>
			<div class="container">
				<div class="nav-wrapper">
					<ul id="nav-mobile">
						<li class="active">
							<a href="../home/">Home</a>
						</li>
					</ul>
					<ul id="nav-mobile">
						<li>
							<a href="../account/"><i class="material-icons">account_circle</i></a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<div class="container">
		<div class="row">
			<div class="customer-info">
				<div class="first-name">
					<span>First Name:</span> {{ customer.1 }}
				</div>
				<div class="last-name">
					<span>Last Name:</span> {{ customer.2 }}
				</div>
				<div class="email">
					<span>Email address:</span> {{ customer.3 }}
				</div>
				<div class="sex">
					<span>Sex:</span> {{ customer.4.decode('UTF-8') }}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="my-showings">
				Viewed:
			</div>
			{% for showing in showings %}
			{% if showing.8 != None %}
			<div class="col m12 l6">
				<div class="card horizontal">
					{% if showing.10 != None %}
					<div class="card-image">
						<img src="../../../static/images/{{ showing.10 }}">
					</div>
					{% endif %}
					<div class="card-stacked">
						<div class="card-content">
							<div class="movie-title">
								{{ showing.4 }}
								<span class="year">({{ showing.5 }})</span>
							</div>
							<div class="movie-date">
								<span>Date:</span> {{ showing.1 }}
							</div>
							<div class="movie-time">
								<span>Time:</span> {{ showing.2 }}
							</div>
							<div class="ticket-price">
								<span>Price:</span> ${{ showing.3 }}
							</div>
							<div class="ticket-sold">
								{% if  showing.6 != None and showing.6 == showing.7 %}
									<span>Sold:</span> 
									{{ showing.6 }}/{{ showing.7 }} SOLD OUT!
								{% else %}
									<span>Sold:</span>
									{{ showing.6 }}/{{ showing.7 }}
								{% endif %}
							</div>
						</div>
						{% if showing.9 == None %}
						<form action="../../rate/">
							<input id="showing_id" type="text" name="showing_id" value="{{ showing.0 }}">
							<input id="cust_id" type="text" name="cust_id" value="{{ customer.0 }}">
							<div class="rate_range">
								<span>Rate: </span>
								<p class="range-field">
									<input name="rating" type="range" id="test5" min="1" max="5" />
								</p>
							</div>
							<input class="btn-large waves-effect waves-light" type="submit" />
						</form>
						{% else %}
						<div class="card-action rating">
							{% for i in range(0, showing.9)%}
							<i class="material-icons star">star_rate</i>
							{% endfor %}
						</div>
						{% endif %}
					</div>
				</div>
			</div>
			{% endif %}
			{% endfor %}
		</div>
	</div>
	<!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

	<script type="text/javascript">
	$(document).ready(function() {
		$('select').material_select();
	});
	</script>
</body>
</html>