<!DOCTYPE html>
<html>
<head>
	<title>Movies - Customer</title>
	<link rel="stylesheet" href="../../../static/styles/reset.css">
	<link rel="stylesheet" href="../../../static/styles/customer/styles.css">

	<!--Import Google Icon Font-->
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
	<div class="navbar-fixed">
		<nav>
			<div class="container">
				<div class="nav-wrapper">
					<form action="./">
						<div class="input-field">
							<input id="search" name="title" type="search" placeholder="movie title..." required>
							<label for="search"><i class="material-icons">search</i></label>
							<i class="material-icons">close</i>
						</div>
					</form>
				</div>
			</div>
		</nav>
	</div>
	<div class="container">
		<div class="row">
			<div class="my-showings">
				Showings:
			</div>
			<div>
			{% for showing in showings %}
				<div>
					{{ showing.0 }}, {{ showing.2 }}, {{ showing.3 }}, {{ showing.4 }},
					{{ showing.5 }}, {{ showing.6 }}, {{ showing.7 }}
				</div>
			{% endfor %}
			</div>
		</div>
	</div>
	<!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

	<script type="text/javascript">
	$(document).ready(function() {
		$('select').material_select();
	});
	</script>
</body>
</html>